<section class="about section bg-2 pb-330">
  <div class="container">
    <div class="row">

      <h3>{{'REQUEST_PASSWORD_RESET' | translate}}</h3>
      <p>{{'INFO_RESET_PASSWORD' | translate}}.{{'PLEASE_FILL_REQUEST_EMAIL' | translate}}</p>

      <div class="col-lg-5">
        <form [formGroup]="passwordResetRequestForm" (ngSubmit)="onSubmit(passwordResetRequestForm.value)">
          <div class="form-group field-passwordresetrequestform-email required has-success">
            <label class="control-label">Email</label>

            <input
              class="form-control"
              type="email"
              aria-required="true"
              placeholder="Email Address"
              [formControl]="passwordResetRequestForm.controls['email']"
              [ngClass]="{ 'form-control-danger': !isValid('email') }"/>

            <span class="help-block help-block-error" *ngIf="!formErrors.email.valid">{{
                formErrors.email.message
              }}</span>
          </div>
          <div class="form-group">
            <button
              type="submit"
              class="btn btn-primary"
              [disabled]="!passwordResetRequestForm.valid || submitted == true">
              {{'SEND' | translate}}
              <app-spinner *ngIf="submitted"></app-spinner>
            </button>
          </div>
        </form>
      </div>
    </div>

    <div class="row" *ngIf="showConfirmation == true">
      <div class="col-lg-6">
        <div class="card p-4">
          <div class="card-body">
            <h1>{{'CHECK_YOU_EMAIL_FOR_FURTHER_INSTRUCTION' | translate}}</h1>
            <br/>
            <p class="text-muted">
              {{ passwordResetRequestForm.controls['email'].value }}
            </p>
            <div class="row">
              <div class="col-6">
                <a [routerLink]="['user/login']" class="btn btn-link px-0">{{'BACK_TO_LOGIN'| translate}}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>
